/* .login-card{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 300px;
    background-color: aliceblue;
    border-radius: 40px;
    text-align: center;
}

.sigin-page{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
 
}

.siginbutton{
    background-color: #3b82f680;
    box-sizing: border-box;
    width: 100px;
    height: 400px;
    color: #ffffff;
    border-radius: 40px;
    border: 0 solid #e5e7eb;
} */