.inputsize {
    width: 230px;
    height: 40px;
    border-color:#ffffff;
    border-style: solid;
    border-radius: 7px;
    margin-right: 20px;
    margin-left: 20px;
}

.EventButton{
    width: 180px;
    height: 60px;
    background-color: rgb(35, 55, 207);
    color: aliceblue;
    border-radius: 20px;
    padding: 10px;
    margin: 10px;
}